@{
    ViewBag.Title = "Home";
}

<div class="row container">
    <h1 class="m-top">Candid APIs</h1>
</div>
<div class="row container">
    <h2>The most powerful and comprehensive philanthropic APIs on the market.</h2>
</div>
<div class="container">
    <div class="row">
        <div class="m-right">
            <a class="btn btn-lg" href="/essentials">Essentials</a>
        </div>
        <div class="m-right">
            <a class="btn btn-lg" href="/premier">Premier</a>
        </div>
        <div class="m-right">
            <a class="btn btn-lg" href="/charitycheck">Charity Check</a>
        </div>
    </div>
</div>