<div class="container">
    <div class="financial-trends-analysis-actions row">
        <div style="margin-right: auto">
            Show Data For Fiscal Year Ending:
            <select id="fiscal-year-select" class="fiscal-year-select"></select>
        </div>
    </div>
    
    <div id="balance-sheet-list" class="row"></div>
</div>